# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flask
instance/
.webassets-cache

# Project Specific
server_files/*
!server_files/*.sh
!server_files/*.service
!server_files/README.txt
.DS_Store

# Logs
*.log
